body {
  background-color: skyblue;
}

div {
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
}

.one {
  color: white;
  box-shadow: 0 0 2px 2px white;
  animation: lessMore linear forwards;
}

.two {
  color: blue;
  box-shadow: 0 0 2px 2px blue;
  animation: lessMore linear forwards;
}


// .one {
//   position: absolute;
//   bottom: 0;
//   left: calc(50%+-70px);
//   color: white;
//   background-color: blue;
//   box-shadow: 0 0 2px 2px blue;
//   animation: lessMore 12s linear forwards;
// }

// .two {
//   position: absolute;
//   bottom: 0;
//   left: calc(50%+70px);
//   color: white;
//   background-color: green;
//   box-shadow: 0 0 2px 2px green;
//   animation: lessMore 8s linear forwards;
// }

.numberDiv {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 100px;
  height: 100px;
  background-color: gold;
  text-align: center;
  line-height: 100px;
  font-size: 22px;
  color: red;
  opacity: 0;
  animation: score 6s linear forwards;
}

h1 {
  text-align: center;
  color: white
}

@keyframes score {
  20% {
    opacity: 0.5;
    box-shadow: 0 0 2px 2px gold;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    bottom: 70vh;
    box-shadow: 0 0 40px 40px gold;
  }
}

@keyframes lessMore {
  100% {
    opacity: 0;
    box-shadow: 0 0 5px 5px;
    bottom: 85vh;
  }
}